@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

@{
    string url = "https://res.cloudinary.com/dp70enihl/image/upload/v1586102396/SmartCarRentalsPics/Background/car-7_qnijf0.jpg";
}

<div class="img rounded d-flex align-items-end" style="background-image: url('@url');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
            <div class="col-md-9 ftco-animate pb-5">
                <p class="breadcrumbs"><span class="mr-2"><a asp-area="Identity" asp-page="/Account/Manage/Index">My Info <i class="fas fa-greater-than"></i></a></span> <span>@ViewData["Title"]<i class="fas fa-greater-than"></i></span></p>
                <h1 class="mb-3 bread">@ViewData["Title"]</h1>
            </div>
        </div>
    </div>
</div>



<div class="container">
    <p class="text-white bg-primary"><partial name="_ManageNav" /></p>
    <div class="col-md-9">
        @RenderBody()
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
