@model SmartCarRentals.Web.ViewModels.Administration.Towns.TownDetailsViewModel
@{
    ViewData["Title"] = "Details Town";
}

<section class="content" align="center">
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="small-box bg-primary">
                <div class="inner">
                    <h2>Town Details</h2>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="label"></label>
                        <input asp-for="Name" class="form-control" placeholder="Name" readonly />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CountryName" class="label"></label>
                        <input asp-for="CountryName" class="form-control" placeholder="CountryName" readonly />
                        <span asp-validation-for="CountryName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ParkingsCount" class="label"></label>
                        <input asp-for="ParkingsCount" class="form-control" placeholder="ParkingsCount" readonly />
                        <span asp-validation-for="ParkingsCount" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <span>
                            <a class="text-light" asp-area="Administration" asp-controller="Parkings" asp-action="ByTown" asp-route-id="@Model.Id"><strong><u>Pakrkings List</u></strong></a></span>
                    </div>
                    <div class="form-group">
                        <a type="button" class="btn btn-success py-2 px-3" asp-area="Administration" asp-controller="Towns" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                        <a type="button" class="btn btn-danger py-2 px-3" asp-area="Administration" asp-controller="Towns" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
                        <a type="button" class="btn btn-warning py-2 px-3" asp-area="Administration" asp-controller="Towns" asp-action="All">Go Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

