@using SmartCarRentals.Common
@*@{
    this.ViewData["Title"] = "Login Page";
}*@

<div class="img rounded d-flex align-items-end" style="background-image: url('https://res.cloudinary.com/dp70enihl/image/upload/v1582987179/SmartCarRentalsPics/Background/bg_1_mdaf0h.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text justify-content-start align-items-center justify-content-center">
            <div class="col-lg-8 ftco-animate">
                <div class="text w-100 text-center mb-md-5 pb-md-5">
                    <h1 class="text-center mt-2"><span class="badge">Login</span></h1>
                    <hr class="hr-3" />
                    <form class="mx-auto w-50 bg-blur" method="post">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Username...">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Password...">
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Login" class="btn btn-secondary py-3 px-4">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
