@model SmartCarRentals.Web.ViewModels.Administration.Parkings.ParkingViewModel
@{
    this.ViewData["Title"] = "Create Parking";
}

<section class="content" align="center">
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="small-box bg-primary">
                <div class="inner">
                    <form class="request-form ftco-animate bg-primary" id="account" method="post">
                        <h2>Create a new parking.</h2>
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Name" class="label"></label>
                            <input asp-for="Name" class="form-control" placeholder="Name" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Address" class="label"></label>
                            <input asp-for="Address" class="form-control" placeholder="Adress" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="TownId" class="label"></label>
                            <input asp-for="TownId" class="form-control" placeholder="TownId" />
                            <span asp-validation-for="TownId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Capacity" class="label"></label>
                            <input asp-for="Capacity" class="form-control" placeholder="Capacity" />
                            <span asp-validation-for="Capacity" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success py-3 px-4">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>