@model SmartCarRentals.Web.ViewModels.Administration.Parkings.ParkingDetailsViewModel
@{
    this.ViewData["Title"] = "Delete Parking";
}

<section class="content" align="center">
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="small-box bg-primary">
                <div class="inner">
                    <form class="request-form ftco-animate bg-primary" method="post">
                        <h2>Do You Want To Delete?</h2>
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Name" class="label"></label>
                            <input asp-for="Name" class="form-control" placeholder="Name" readonly />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="TownName" class="label"></label>
                            <input asp-for="TownName" class="form-control" placeholder="TownName" readonly />
                            <span asp-validation-for="TownName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Address" class="label"></label>
                            <input asp-for="Address" class="form-control" placeholder="Address" readonly />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <span>
                                Cars Count:
                                <a class="text-light" asp-area="Administration" asp-controller="Reservations" asp-action="ByParking" asp-route-id="@Model.Id"> @Model.CarsCount</a>
                            </span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-danger" asp-area="Administration" asp-controller="Parkings" asp-action="DeleteConfirm" asp-route-id="@Model.Id">Delete</button>
                            <button type="submit" class="btn btn-warning" asp-area="Administration" asp-controller="Parkings" asp-action="Details" asp-route-id="@Model.Id">Go Back</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
