@model SmartCarRentals.Web.ViewModels.Administration.TransfersTypes.TransferTypeDetailsViewModel
@{
    ViewData["Title"] = "Edit TransferType";
}

<section class="content" align="center">
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="small-box bg-primary">
                <div class="inner">
                    <form class="request-form ftco-animate bg-primary" id="account" method="post">
                        <h2>Edit TransferType</h2>
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Name" class="label"></label>
                            <input asp-for="Name" class="form-control" placeholder="Name" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Price" class="label"></label>
                            <input asp-for="Price" class="form-control" placeholder="Price" readonly />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success py-2 px-3" asp-area="Administration" asp-controller="Parkings" asp-action="Edit" asp-route-id="@Model.Id">Update</button>
                            <button type="submit" class="btn btn-warning py-2 px-3" asp-area="Administration" asp-controller="Parkings" asp-action="Details" asp-route-id="@Model.Id">Go Back</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
